:root {
  --bg-color: #1a1414;
  --text-color: #FAF9F6;
  --accent-color: #990000;
  --dark-accent-color: #660000;
  --block-color-1: #261D1D;
  --block-color-2: #332727;
  --checker-color-1: var(--accent-color);
  --checker-color-2: var(--dark-accent-color);
  --disabled-text-color: #444;
  --link-color: #44C5FF;
  --placeholder-color: #A9A9A9;
  --shadow-color: black;
  --red-color: #990000;
  --glow-color: var(--text-color);
  --pokemon-width: 12.5em;
}

#input_pokemon {
  --pokemon-block-width: 156px;
  --pokemon-block-height: 54px;
}

#cores_location {
    width: 100%;
}

#top_wrapper {
    background-image: linear-gradient(180deg, var(--accent-color), var(--dark-accent-color));
    box-shadow: 0px 1px 2px var(--dark-accent-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", "sans-serif";
}

input[type=submit] {
  margin: 5px;
}

input[type=number] {
  width: 4em;
}

.data-table th, #top_wrapper,  .info-title {
    font-family: "Comfortaa", "sans-serif";
    font-weight: normal;
}

.add_link_cell {
    text-align: center;
}

.swap_link {
    font-size: 1.5em;
}

.advanced-options {
    border-radius: 2px;
    padding: 5px;
    display: inline-block;
}

.advanced-options summary {
    cursor: pointer;
}

.advanced-options[open] {
    background: var(--block-color-1);
    box-shadow: 1px 1px 2px var(--shadow-color);
    margin-top: 5px;
    margin-bottom: 6px;
}

.advanced-options tr td:first-child {
    text-align: right;
}

.dataTables_wrapper {
    display: inline-block;
}

#input_pokemon {
    position: relative;
    display: grid;
    gap: 3px 3px;
    box-shadow: 1px 1px 2px var(--shadow-color);
    padding: 3px;
    background: var(--block-color-1);

    grid-template-columns: repeat(2, var(--pokemon-block-width));
    grid-template-rows: repeat(3, var(--pokemon-block-height));
}

@media (min-width: 580px) {
    .data-table th:first-child {
        border-radius: 5px 0px 0px 0px;
    }

    .data-table th:last-child {
        border-radius: 0px 5px 0px 0px;
    }
}

@media (max-width: 579px) {
    .content {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .hide_mobile {
        display: none;
    }

    .dataTables_info{
        display: none;
    }

    .data-table {
        width: 100%;
    }

    .dataTables_wrapper {
        width: 100%;
    }
}

@media (min-width: 500px) {
    #input_pokemon {
        grid-template-columns: repeat(3, var(--pokemon-block-width));
        grid-template-rows: repeat(2, var(--pokemon-block-height));
    }
}

@media (min-width: 965px) {
    #input_pokemon {
        grid-template-columns: repeat(6, var(--pokemon-block-width));
        grid-template-rows: repeat(1, var(--pokemon-block-height));
    }
}

#poke-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: relative;
}

#poke-wrapper:has(> #input_pokemon:empty)::before {
    content: "Try adding Pokémon below. You can also search and hit enter.";
    position: absolute;
    z-index: 1;
    width: 90%;
}

.remove_button {
    color: var(--red-color);
    cursor: pointer;
    position: absolute;
    top: -0.5rem;
    right: 1px;
    text-shadow: 1px 1px 1px var(--shadow-color);
    font-weight: bold;
    font-size: 1.8em;
}

.team_image {
    text-align: center;
    display: block !important;
    margin: auto;
}

.team_link {
    text-align: center;
    display: block;
}

.team_member {
    background: var(--block-color-2);
    padding: 2px;
    position: relative;
    min-width: 150px;
    box-shadow: 1px 1px 2px var(--shadow-color);
}

.info-title {
  font-size: 2rem;
}

.info-description {
  max-width: 80%;
}

.info-table {
    border-collapse: collapse;
    text-align: center;
}

.info-table th {
    font-size: .7rem;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
}

@media (max-width: 375px) {
    .info-table th {
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
    }
}

.info-table td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.info-table td > * {
    vertical-align: middle;
    margin: 0 auto;
}

.poke-type {
    vertical-align: bottom;
}

.info-box {
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.data-table {
  border-collapse: collapse;
}

.add_link {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--shadow-color);
}

form {
  width: fit-content;
}

#navbar_hamburger {
    display: none;
}

.data-table th, .data-table td {
    padding-left: 8px;
    padding-right: 8px;
}

@media (max-width: 375px) {
    .data-table th, .datatable td {
        padding-left: 2px;
        padding-right: 2px;
    }
}

.data-table tbody tr:nth-child(even) {
    --tr-color: var(--accent-color);
}

.data-table tbody tr:nth-child(odd) {
    --tr-color: var(--dark-accent-color);
}

.data-table tbody tr {
    background-image: linear-gradient(90deg, var(--tr-color), var(--bg-color));
    border-bottom: solid;
    border-width: 2px;
    border-color: var(--tr-color);
    background-size: calc(100% + 1px), 100%;
}

.data-table th {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--accent-color);
  height: 31px;
  box-sizing: border-box;
}

.data-table tbody tr {
  vertical-align: bottom;
  height: 40px;
}

.content {
    display: flex;
    margin: 8px;
    flex-direction: column;
    align-items: center;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text-color);
}

.topnav a:hover {
  text-shadow: 0px 0px 1px var(--glow-color);
  box-shadow: 0px 0px 4px var(--shadow-color);
  z-index: 1;
}

.topnav-links {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

#hamburger_icon {
    display: none;
}

@media (max-width: 900px) {
    #hamburger_icon {
        position: absolute;
        top: 0px;
        right: 5px;
        cursor: pointer;
        display: block;
    }

    #hamburger_icon::after {
        content: "☰";
        font-size: 1.5em;
        font-weight: bold;
    }

    .topnav-links > a {
        background: var(--dark-accent-color);
        padding: 5px;
        text-align: center;
        font-size: 1.5em;
        text-decoration: none;
    }

    .topnav-links {
        z-index: 3;
        position: fixed;
        right: 0px;
    }

    #navbar_hamburger:checked + .topnav-links {
        display: flex;
        flex-direction: column;
    }

    #navbar_hamburger:not(:checked) + .topnav-links {
        display: none;
    }
}

.format-name {
  overflow: hidden;
  text-align: center;
  font-size: 1.5em;
  padding: 4px;
}

body {
    margin: 0px;
}

.item-icon, .poke-icon {
    margin-right: 4px;
}

.poke-sprite, .item-icon, .poke-icon, .team-image {
    filter: drop-shadow(0px 0px 1px var(--shadow-color));
}

.tables-wrapper {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
    row-gap: 5px;
    align-items: flex-start;
    justify-content: center;
}

.side-by-side {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    column-gap: 10px;
}

.poke-sprite-wrapper {
    text-align: center;
}

.core-outer {
    display: grid;
    grid-template-columns: 100px repeat(auto-fit, 100px 100px);
}

.core-outer > .core-inner:nth-child(even) {
  background-color: var(--checker-color-1);
}

.core-outer > .core-inner:nth-child(odd) {
  background-color: var(--checker-color-2);
}

.core-inner {
    padding: 2px;
    margin: 4px;
    box-shadow: 2px 2px 1px var(--shadow-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.core-inner .poke-icon {
    margin: 0px;
}

.bst-stat-bar {
    box-shadow: 1px 1px 1px var(--shadow-color);
    height: 15px;
    border-radius: 0px 4px 4px 0px;
    background-color: hsl(var(--bar-hue), 85%, 50%);
}

.bst-stat-name, .bst-stat-value {
    font-size: .8em;
    text-align: right;
    white-space: nowrap;
}

.bst-stat-name {
    padding-right: 1em;
}

.alignment-table {
    border-style: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.alignment-table th {
    font-weight: normal;
}

.alignment-table td {
    padding-right: 4px;
}

.r-align {
    text-align: right;
}

.dt-body-right {
    text-align: right;
    padding-right: 1.6em;
}

figure {
    float: left;
}

figcaption {
    text-align: center;
}

dl {
  margin: 0;
  padding: 0;
}

.poke-type {
  text-align: center;
}

.dataTables_empty {
    vertical-align: bottom;
}

.dataTables_paginate {
    display: flex;
    justify-content: space-around;
}

.dataTables_paginate .paginate_button {
    cursor: pointer;
    padding: 3px;
    color: var(--text-color);
    flex: 1 1 auto;
    text-align: center;
}

.dataTables_paginate {
    display: flex;
}

.dataTables_paginate .paginate_button {
    margin: 2px;
    margin-top: 0px;
}

.dataTables_paginate .paginate_button:hover:not(.disabled) {
    background: var(--block-color-1);
}

.dataTables_paginate .disabled {
    color: var(--disabled-text-color);
    cursor: default;
}

.dataTable_controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.align-help {
    margin-top: 31px;
}

.align-help .dataTable_controls {
    margin-top: -31px;
}

.dataTables_filter label::before {
    content:"⌕";
    position: absolute;
    margin-left: .5em;
    transform: scale(-1, 1);
    color: var(--placeholder-color);
}

.dataTables_filter input::placeholder {
    color: var(--placeholder-color);
}

.dataTables_filter label input {
    padding-left: 1.5em;
}

.dataTables_filter {
    padding: 5px;
}

.dataTables_info {
    font-size: .8em;
    padding: 5px;
}

.pagedPoke {
    min-width: var(--pokemon-width);
}

/* Table sort controls - code from datatables default styling. */
table.dataTable td.dt-control {
  text-align: center;
  cursor: pointer;
}

table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting_asc_disabled, table.dataTable thead > tr > th.sorting_desc_disabled,
table.dataTable thead > tr > td.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting_asc_disabled,
table.dataTable thead > tr > td.sorting_desc_disabled {
  cursor: pointer;
  position: relative;
  padding-right: 26px;
}

table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting:before,
table.dataTable thead > tr > td.sorting:after,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_asc:after,
table.dataTable thead > tr > td.sorting_desc:before,
table.dataTable thead > tr > td.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc_disabled:before,
table.dataTable thead > tr > td.sorting_asc_disabled:after,
table.dataTable thead > tr > td.sorting_desc_disabled:before,
table.dataTable thead > tr > td.sorting_desc_disabled:after {
  position: absolute;
  display: block;
  opacity: 0.125;
  right: 10px;
  line-height: 9px;
  font-size: 0.8em;
}

table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:before,
table.dataTable thead > tr > td.sorting:before,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:before,
table.dataTable thead > tr > td.sorting_asc_disabled:before,
table.dataTable thead > tr > td.sorting_desc_disabled:before {
  bottom: 55%;
  content: "▲";
}

table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting:after,
table.dataTable thead > tr > td.sorting_asc:after,
table.dataTable thead > tr > td.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc_disabled:after,
table.dataTable thead > tr > td.sorting_desc_disabled:after {
  top: 55%;
  content: "▼";
}

table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:after {
  opacity: 0.6;
}
