:root {
  --bg-color: #fffffc;
  --text-color: #000;
  --light-text-color: #fffffc;
  --navbar-color: #333;
  --navbar-hover-color: #ccc;
  --accent-color: #115511;
  --block-color: #f0f0fc;
  --outer-block-color: #333;
  --checker-color-1:#f0f0f0;
  --checker-color-2:#f0fff0;
  --disabled-text-color: #777777;
  --light-border-color: #777777;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

input[type=submit] {
  margin: 5px;
}

input[type=number] {
  width: 4em;
}

.advanced-options {
    cursor: pointer;
    border-radius: 2px;
    padding: 5px;
    margin-top: 2px;
    display: inline-block
}

.advanced-options[open] {
    background: var(--block-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--light-border-color);
}

.dataTables_wrapper {
    display: inline-block;
}

#input_pokemon {
    position: relative;
    display: grid;
    gap: 2px 2px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--light-border-color);
    padding: 2px;
    background: var(--outer-block-color);

    grid-template-columns: repeat(2, 156px);
    grid-template-rows: repeat(3, 54px);
}

@media (max-width: 579px) {
    .hide_mobile {
        display: none;
    }

    .dataTables_info{
        display: none;
    }

    .data-table {
        width: 100%;
    }

    .dataTables_wrapper {
        width: 100%;
    }
}

@media (min-width: 480px) {
    #input_pokemon {
        grid-template-columns: repeat(3, 156px);
        grid-template-rows: repeat(2, 54px);
    }
}

@media (min-width: 965px) {
    #input_pokemon {
        grid-template-columns: repeat(6, 156px);
        grid-template-rows: repeat(1, 54px);
    }
}

#poke-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: relative;
}

#poke-wrapper:has(> #input_pokemon:empty)::before {
    content: "Try adding Pokémon below. You can also type one in and hit enter.";
    color: var(--light-text-color);
    position: absolute;
    z-index: 1;
}

.remove_button {
    color: #8B0000;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 3px;
}

.team_image {
    margin: 2px;
    text-align: center;
    display: block !important;
    margin: auto;
}

.team_link {
    text-align: center;
    display: block;
}

.team_member {
    background: var(--block-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: var(--light-border-color);
    padding: 2px;
    position: relative;
    min-width: 150px;
}

.tooltip {
  visibility: hidden;
  background-color: var(--block-color);
  color: var(--text-color);
  padding: 5px;
  position: absolute;
  z-index: 2;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  display: block;
  transform: translateY(-50%);
  left: 120%;
  width: 20em;
  text-align: center;
  top: 50%;
  box-shadow: 1px 1px 2px;
}

.tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.fa-question-circle {
  color: var(--accent-color);
  position: relative;
  display: inline-block;
  cursor: help;
}

.fa-question-circle:hover .tooltip {
  visibility: visible;
}

.info-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: Sans-Serif;
}

.info-description {
  margin-left: .5em;
  margin-bottom: 5px;
}

.info-table {
    border-collapse: collapse;
    text-align: center;
}

.info-table th {
    font-size: .7rem;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
}

@media (max-width: 375px) {
    .info-table th {
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
    }
}

.info-table td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.info-table td > * {
    vertical-align: middle;
    margin: 0 auto;
}

.poke-type {
    vertical-align: bottom;
}

.info-box {
  padding-bottom: 10px;
  padding-top: 10px;
  width: max-content;
  max-width: 100%;
}

.data-table {
  border-collapse: collapse;
}

.data-table tr:nth-child(odd) {
  background-color: var(--checker-color-1);
}

.data-table tr:nth-child(even) {
  background-color: var(--checker-color-2);
}

.add_link {
  text-decoration: none;
  color: var(--accent-color);
}

form {
  width: fit-content;
}


#navbar_hamburger {
    display: none;
}

.data-table th, td {
    padding-left: 8px;
    padding-right: 8px;
}

@media (max-width: 375px) {
    .data-table th, td {
        padding-left: 2px;
        padding-right: 2px;
    }
}

.data-table td {
    padding-bottom: 2px;
}

.data-table th {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--accent-color);
  color: var(--light-text-color);
}

.data-table tbody tr {
  vertical-align: bottom;
  height: 40px;
}

.content {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    flex-direction: column;
    align-items: center;
}

.topnav {
  background-color: var(--navbar-color);
  overflow: hidden;
  font-family: Sans-Serif;
}

.topnav a {
  float: left;
  color: var(--light-text-color);
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 1.2rem;
}

.topnav a:hover {
  background-color: var(--navbar-hover-color);
  color: var(--text-color);
}

.topnav-links {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

#hamburger_icon {
    display: none;
}

@media (max-width: 899px) {
    #hamburger_icon {
        position: absolute;
        top: 0px;
        right: 5px;
        cursor: pointer;
        color: var(--light-text-color);
        display: block;
    }

    #hamburger_icon::after {
        content: "☰";
        font-size: 1.5em;
        font-weight: bold;
    }

    .topnav-links > a {
        background: var(--navbar-color);
        color: var(--light-text-color);
        padding: 5px;
        text-align: center;
        font-size: 1.5em;
        text-decoration: none;
    }

    .topnav-links > a:hover {
        background-color: var(--navbar-hover-color);
        color: var(--text-color);
    }

    .topnav-links {
        z-index: 3;
        position: fixed;
        right: 0px;
    }

    #navbar_hamburger:checked + .topnav-links {
        display: flex;
        flex-direction: column;
    }

    #navbar_hamburger:not(:checked) + .topnav-links {
        display: none;
    }
}

.format-name {
  background-color: var(--navbar-color);
  overflow: hidden;
  text-align: center;
  font-size: 1.5em;
  font-family: Sans-Serif;
  color: var(--light-text-color);
  padding: 4px;
}

body {
    margin: 0px;
}

.item-icon, .poke-icon {
    margin-right: 4px;
}

.tables-wrapper {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
    row-gap: 5px;
    align-items: flex-start;
    justify-content: center;
}

.side-by-side {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.poke-sprite-wrapper {
    min-width: 150px;
    text-align: center;
}

.base-stats-wrapper {
    width: 300px;
}

.align-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    gap: 0;
}

.color-align-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    gap: 0;
}

.color-align-box > div:nth-child(even) {
  background-color: var(--checker-color-1);
}

.color-align-box > div:nth-child(odd) {
  background-color: var(--checker-color-2);
}

.color-align-inner {
  padding: 4px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.alignment-table {
    border-style: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.alignment-table td {
    padding-right: 4px;
}

.r-align {
    text-align: right;
}

.dt-body-right {
    text-align: right;
    padding-right: 1.6em;
}

figure {
    float: left;
}

figcaption {
    text-align: center;
}

dl {
  margin: 0;
  padding: 0;
}

.poke-type {
  text-align: center;
}

.dataTables_paginate {
    display: flex;
    justify-content: space-around;
}

.dataTables_paginate .paginate_button {
    cursor: pointer;
    padding: 5px;
    margin: 1px;
}

.dataTables_paginate .paginate_button:hover:not(.disabled) {
    background: var(--block-color);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
}

.dataTables_paginate .disabled {
    color: var(--disabled-text-color);
}


.dataTable_controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.align-help {
    margin-top: 31px;
}

.align-help .dataTable_controls {
    margin-top: -31px;
}

.dataTables_filter label::before {
    content:"\2315";
    position: absolute;
    margin-left: .5em;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.dataTables_filter label input {
    padding-left: 1.5em;
}

.dataTables_filter {
    padding: 5px;
}

.dataTables_info {
    font-size: .8em;
    padding: 5px;
}

.pagedPoke {
    min-width: 13em;
}

/* Table sort controls - code from datatables default styling. */
table.dataTable td.dt-control {
  text-align: center;
  cursor: pointer;
}

table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting_asc_disabled, table.dataTable thead > tr > th.sorting_desc_disabled,
table.dataTable thead > tr > td.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting_asc_disabled,
table.dataTable thead > tr > td.sorting_desc_disabled {
  cursor: pointer;
  position: relative;
  padding-right: 26px;
}

table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting:before,
table.dataTable thead > tr > td.sorting:after,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_asc:after,
table.dataTable thead > tr > td.sorting_desc:before,
table.dataTable thead > tr > td.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc_disabled:before,
table.dataTable thead > tr > td.sorting_asc_disabled:after,
table.dataTable thead > tr > td.sorting_desc_disabled:before,
table.dataTable thead > tr > td.sorting_desc_disabled:after {
  position: absolute;
  display: block;
  opacity: 0.125;
  right: 10px;
  line-height: 9px;
  font-size: 0.8em;
}

table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:before,
table.dataTable thead > tr > td.sorting:before,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:before,
table.dataTable thead > tr > td.sorting_asc_disabled:before,
table.dataTable thead > tr > td.sorting_desc_disabled:before {
  bottom: 55%;
  content: "▲";
}

table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting:after,
table.dataTable thead > tr > td.sorting_asc:after,
table.dataTable thead > tr > td.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc_disabled:after,
table.dataTable thead > tr > td.sorting_desc_disabled:after {
  top: 55%;
  content: "▼";
}

table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:after {
  opacity: 0.6;
}
