:root {
  --bg-color: #fffffc;
  --text-color: #000;
  --light-text-color: #fffffc;
  --navbar-color: #333;
  --navbar-hover-color: #ccc;
  --accent-color: #115511;
  --checker-color-1:#f0f0f0;
  --checker-color-2:#f0fff0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

input[type=submit] {
  margin: 5px;
}

input[type=number] {
  width: 5em;
}

.tooltip {
  visibility: hidden;
  background-color: var(--checker-color-1);
  color: var(--text-color);
  padding: 5px;
  position: absolute;
  z-index: 1;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  display: block;
  transform: translateY(-50%);
  left: 120%;
  width: 20em;
  text-align: center;
  top: 50%;
}

.tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.fa-question-circle {
  color: var(--accent-color);
  position: relative;
  display: inline-block;
}

.fa-question-circle:hover .tooltip {
  visibility: visible;
}

.data-table {
  border-collapse: collapse;
  border: 1px solid black;
}

.data-table th, td {
  border: 1px solid black;
}

.data-table th, td {
  padding-left: 8px;
  padding-right: 8px;
}

.data-table th {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--accent-color);
  color: var(--light-text-color);
}

.data-table tbody tr {
  height: 40px;
}

.data-table tr:nth-child(odd) {
  background-color: var(--checker-color-1);
}

.data-table tr:nth-child(even) {
  background-color: var(--checker-color-2);
}

.add_link {
  text-decoration: none;
  color: var(--accent-color);
}

form {
  width: fit-content;
}

.topnav {
  background-color: var(--navbar-color);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: var(--light-text-color);
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--navbar-hover-color);
  color: var(--text-color);
}

.topnav-links {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.format-name {
  background-color: var(--navbar-color);
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  color: var(--light-text-color);
}

body {
    margin: 0px;
}

.content {
    margin: 8px;
}

.item-icon, .poke-icon {
    margin-right: 4px;
}

.tables-wrapper {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
    row-gap: 5px;
    align-items: flex-start;
}

.vert-align-box {
    column-width: 220px;
}

.vert-align-box > * {
    display: block;
}

.align-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    gap: 0;
}

.color-align-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px 220px) 220px;
    gap: 0;
}

.color-align-box > div:nth-child(even) {
  background-color: var(--checker-color-1);
}

.color-align-box > div:nth-child(odd) {
  background-color: var(--checker-color-2);
}

.color-align-inner {
  padding: 4px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.alignment-table {
    border-style: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.alignment-table td, tr {
    border-style: none;
    border-collapse: collapse;
    padding: 0;
    padding-right: 4px;
    margin: 0;
}

.r-align {
    text-align: right;
}

figure {
    float: left;
}

figcaption {
    text-align: center;
}

dl {
  margin: 0;
  padding: 0;
}

/* Table sort controls */
table.dataTable td.dt-control {
  text-align: center;
  cursor: pointer;
}

table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting_asc_disabled, table.dataTable thead > tr > th.sorting_desc_disabled,
table.dataTable thead > tr > td.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting_asc_disabled,
table.dataTable thead > tr > td.sorting_desc_disabled {
  cursor: pointer;
  position: relative;
  padding-right: 26px;
}

table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting:before,
table.dataTable thead > tr > td.sorting:after,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_asc:after,
table.dataTable thead > tr > td.sorting_desc:before,
table.dataTable thead > tr > td.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc_disabled:before,
table.dataTable thead > tr > td.sorting_asc_disabled:after,
table.dataTable thead > tr > td.sorting_desc_disabled:before,
table.dataTable thead > tr > td.sorting_desc_disabled:after {
  position: absolute;
  display: block;
  opacity: 0.125;
  right: 10px;
  line-height: 9px;
  font-size: 0.8em;
}

table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:before,
table.dataTable thead > tr > td.sorting:before,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:before,
table.dataTable thead > tr > td.sorting_asc_disabled:before,
table.dataTable thead > tr > td.sorting_desc_disabled:before {
  bottom: 55%;
  content: "▲";
}

table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting:after,
table.dataTable thead > tr > td.sorting_asc:after,
table.dataTable thead > tr > td.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc_disabled:after,
table.dataTable thead > tr > td.sorting_desc_disabled:after {
  top: 55%;
  content: "▼";
}

table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:after {
  opacity: 0.6;
}
