{% extends "NavBar.html" %}
{% block title %}Ability Dex{% endblock %}
{% block below_navbar %}
<table id="abilitydex" class="data-table sortable paged">
    <thead>
        <tr>
            <th class="searchable sort_asc">Ability</th>
            <th class="searchable unsortable">Description</th>
        </tr>
    </thead>
    <tbody>
    {% for abil in abilities %}
        <tr>
            <td>{{ lb.abil_link(abil, dataset) }}</td>
            <td>{{dex.abilities[abil]["short_desc"]}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
