<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto&display=swap" rel="stylesheet">
    <style>@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto&display=swap');</style>

    <!--Sortable tables-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='novalue.js') }}"></script>

    <!--Charts-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/icons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/icons/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='/icons/safari-pinned-tab.svg') }}" color="#990000">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/icons/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="{{ url_for('static', filename='/icons/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
{% import "link_builder.html" as lb %}
{% block content %}
{% endblock %}
{% include "RenderIcons.html" %}
{% block scripts %}
{% endblock %}
</body>
</html>
