{% extends "NavBar.html" %}
{% block title %}Core Finder{% endblock %}
{% block below_navbar %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
This identifies common cores. Subsets of cores are also cores.
<br>
<form id=find_cores>
<details class="advanced-options">
  <summary>Advanced Options</summary>
  <table class="alignment-table">
    <tbody>
    <tr title="Removes Pokémon with low usage."><td>Usage Threshold:</td>
        <td>
            <input type="number" name="usage_threshold" min=0 value={{usage_threshold}} required step=".1">%
        </td>
    </tr>
    <tr title="How much Pokémon need to be used together."><td>Score Requirement:</td>
        <td>
            <input type="number" name="score_requirement" min=0.1 value={{score_requirement}} required step=".1">
        </td>
    </tr>
    </tbody>
  </table>
  <input type="submit" value="Find Cores">
</details>
</form>
<div id="cores_location">
    {{ cores|safe }}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='CoreFinderScript.js') }}"></script>
{% endblock %}
