{% extends "NavBar.html" %}
{% block title %}Core Finder{% endblock %}
{% block below_navbar %}
<div id="core-finder-wrapper">
    This identifies groups of Pokémon that are commonly used together. Subsets of cores are also cores.
    <form id=find_cores>
    <details class="advanced-options">
      <summary>Advanced Options</summary>
      <table class="alignment-table">
        <tbody>
        <tr title="Favors Pokémon with high overall usage."><td>Usage Weight:</td>
            <td>
                <input type="number" name="usage_weight" min=0 value={{usage_weight}} required step=".1">
            </td>
        </tr>
        <tr title="Larger means more and larger cores."><td>Target Edges:</td>
            <td>
                <input type="number" name="target_edges" min={{min_edges}} max={{max_edges}} value={{target_edges}} required step="1">
            </td>
        </tr>
        </tbody>
      </table>
      <input type="submit" value="Find Cores">
    </details>
    </form>
    <label id="filter_cores_label">
        <input id="filter_cores" type="text" placeholder="Search..." oninput="javascript:filterCores()" autofocus>
    </label>
    <div id="cores_location"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='CoreFinderScript.js') }}"></script>
{% endblock %}
