{% extends "NavBar.html" %}
{% block title %}Core Finder{% endblock %}
{% block below_navbar %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
This identifies common cores. Subsets of cores are also cores.
<br>
<form id=find_cores>
<details class="advanced-options">
  <summary>Advanced Options</summary>
  <table class="alignment-table">
    <tbody>
    <tr><td>Usage Threshold:</td>
        <td>
            <input type="number" name="usage_threshold" min=0 value={{usage_threshold}} required step=".1">%
        </td>
      <td class="hide_mobile"><span class="fas fa-question-circle"><span class="tooltip">Excludes Pokémon with usage below the threshold. Note that some Pokémon with exceptionally low usage are already excluded.</span></span>
    </td></tr>
    <tr><td>Score Requirement:</td>
        <td>
            <input type="number" name="score_requirement" min=0.1 value={{score_requirement}} required step=".1">
        </td>
    <td class="hide_mobile"><span class="fas fa-question-circle"><span class="tooltip">The score requirement determines how much Pokémon need to be used together in order to be considered part of the same core. A high value will tend to result in few, small cores.</span></span>
    </td></tr>
    </tbody>
  </table>
  <input type="submit" value="Find Cores">
</details>
</form>
<div id="cores_location">
    {{ cores|safe }}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='CoreFinderScript.js') }}"></script>
{% endblock %}
