{% extends "Base.html" %}
{% block title %}Pokéteam{% endblock %}
{% block content %}
<div class="content">
  <img src="{{ url_for('static', filename='icons/logo.png') }}">
  Pick the dataset to use. Be aware that less played tiers and higher rating requirements have less data available. I would recommend using the 1500 ratings.<br>
  Also, checks and counters data are flawed for doubles formats. Doubles formats are only included due to a bug in Smogon's stat collection.<br>
  <form action="" method="post">
    <select name="selector">
      {% for dataset in datasets %}
        <option value="{{dataset}}">{{dataset}}</option>
      {% endfor %}
    </select>
    <button type="submit">Go</button>
  </form>
  Or choose one of the most popular formats:
  <table class="alignment-table" style="text-align:right">
    <tbody>
      {% for format in top %}
        <tr>
          <td>{{format[0]}}</td>
        {% for rating in format[1] %}
          <td>{{lb.analysis_link(format[0], rating)}}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
