{% extends "NavBar.html" %}
{% block title %}Item Dex{% endblock %}
{% block below_navbar %}
<table id="itemdex" class="data-table sortable">
    <thead>
        <tr>
            <th class="searchable sort_asc">Item</th>
            <th class="searchable unsortable">Description</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ lb.item_link(item, dataset) }}</td>
            <td>{{dex.items[item]["desc"]}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
