{% macro poke_link(poke, dataset) -%}
<a href="{{url_for('display_pokemon', dataset=dataset, poke=poke)}}"><span class="poke-icon" data-poke="{{poke}}"></span>{{poke}}</a>
{%- endmacro %}

{% macro item_link(item, dataset) -%}
<a href="{{url_for('display_item', dataset=dataset, item=item)}}"><span class="item-icon" data-item="{{item}}"></span><span class="item-name" data-item="{{item}}">{{item}}</span></a>
{%- endmacro %}

{% macro item_title(item, dataset) -%}
{{item}}&nbsp;<span class="item-icon" data-item="{{item}}"></span>
{%- endmacro %}

{% macro move_link(move, dataset) -%}
<a href="{{url_for('display_move', dataset=dataset, move=move)}}">{{move}}</a>
{%- endmacro %}

{% macro abil_link(abil, dataset) -%}
<a href="{{url_for('display_ability', dataset=dataset, abil=abil)}}">{{abil}}</a>
{%- endmacro %}

{% macro analysis_link(format_name, rating) -%}
<a href="{{url_for('analysis', dataset=format_name+'-'+rating)}}">{{rating}}</a>
{%- endmacro %}

{% macro add_link(poke) -%}
<a href='javascript:handleAddPoke("{{poke}}")' class="add_link" id="{{poke}}">✚</a>
{%- endmacro %}

{% macro try_team_link(suggested_team) -%}
<a href='javascript:tryTeam({{suggested_team|tojson}})' class="try_team_link">(try it!)</a>
{%- endmacro %}

{% macro swap_link(swap) -%}
<a href="javascript:handleSwapPoke('{{swap[0]}}', '{{swap[1][0]}}')" class="swap_link"><span class="fas fa-exchange-alt"></span></a>
{%- endmacro %}
