{% extends "NavBar.html" %}
{% block title %}{{ move }}{% endblock %}
{% block below_navbar %}
  <div class="info-box">
    <span class="move-name info-title" data-move="{{move}}">{{ move }}</span>
      <table class="info-table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Category</th>
            <th>Power</th>
            <th>Accuracy</th>
            <th>PP</th>
            <th>Priority</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{dex.moves[move]["category"]}}</td>
            <td>{{dex.moves[move]["power"]}}</td>
            <td>{{dex.moves[move]["accuracy"]}}</td>
            <td>{{dex.moves[move]["pp"]}}</td>
            <td>{{dex.moves[move]["priority"]}}</td>
          </tr>
        </tbody>
      </table>
    <div>{{dex.moves[move]["full_desc"]}}</div>
  </div>
  {% include "MoveUsersTable.html" %}
{% endblock %}
