<table class="data-table">
    <thead><tr><th>User</th><th>Combined Usage</th><th>Move Usage</th><th>Pokémon Usage</th></tr></thead>
    <tbody>
    {% for user in move_users[:10] %}
        <tr>
            <td>{{ lb.poke_link(user[0], dataset) }}</td>
            <td class="r-align">{{ "{:.1%}".format(user[1]) }}</td>
            <td class="r-align">{{ "{:.0%}".format(user[2]) }}</td>
            <td class="r-align">{{ "{:.0%}".format(user[3]) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
