{% extends "Base.html" %}
  {% block content %}
  <div class="format-name">
    {{ dataset }}
  </div>
  <header class="topnav">
    <label id="hamburger_icon" for="navbar_hamburger"></label>
    <input type="checkbox" id="navbar_hamburger">
    <div class="topnav-links">
      <a href="{{ url_for('select_data') }}">Data Selector</a>
      <a href="{{ url_for('analysis', dataset=dataset) }}">Team Analysis</a>
      <a href="{{ url_for('cores', dataset=dataset) }}">Core Finder</a>
      <a href="{{ url_for('pokedex', dataset=dataset) }}">Pokédex</a>
      <a href="{{ url_for('item_dex', dataset=dataset) }}">Item Dex</a>
      <a href="{{ url_for('move_dex', dataset=dataset) }}">Move Dex</a>
      <a href="{{ url_for('ability_dex', dataset=dataset) }}">Ability Dex</a>
    </div>
  </header>
  <div class="content">
  {% block below_navbar %}
  {% endblock %}
  </div>
{% endblock %}
