{% extends "NavBar.html" %}
{% block title %}Pokedex{% endblock %}
{% block below_navbar %}

<table id="pokedex" class="data-table sortable">
    <thead>
        <tr>
            <th class="searchable">Pokemon</th>
            <th class="sort_desc">Usage</th>
        </tr>
    </thead>
    <tbody>
    {% for poke in pokemon %}
        <tr>
            <td>{{ lb.poke_link(poke[0], dataset) }}</td>
            <td>{{ "{:.2%}".format(poke[1]) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
