{% extends "NavBar.html" %}
{% block title %}{{ poke }}{% endblock %}
{% block below_navbar %}
  <div class="info-box">
    <div class="info-title">{{poke}}</div>
    <div class="side-by-side">
      <img class="poke-sprite" data-poke="{{poke}}" data-gen="{{gen}}">
      <span><canvas class="base-stats" data-stats='{{dex.pokemon[poke].base_stats|tojson}}'></canvas></span>
    </div>
    <table class="info-table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Usage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="poke-type" data-types='{{dex.pokemon[poke].types|tojson}}'></td>
          <td>{{usage}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tables-wrapper">
    {% include "CountersTable.html" %}
    {% include "TeammatesTable.html" %}
    {% include "MovesTable.html" %}
    {% include "ItemsTable.html" %}
    {% include "AbilitiesTable.html" %}
  </div>
{% endblock %}
