{% extends "NavBar.html" %}
{% block title %}Pokédex{% endblock %}
{% block below_navbar %}

<table id="pokedex" class="data-table sortable paged pagedPoke">
    <thead>
        <tr>
            <th class="searchable">Pokémon</th>
            <th class="unsortable searchable">Type</th>
            <th class="sort_desc default_desc">Usage</th>
            {% for stat in dex.base_stats_short %}
            <th class="default_desc hide_mobile">{{stat}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for poke in pokemon %}
        <tr>
            <td>{{ lb.poke_link(poke[0], dataset) }}</td>
            <td class="poke-type" data-types='{{dex.pokemon[poke[0]].types|tojson}}'></td>
            <td class="dt-body-right">{{ "{:.1%}".format(poke[1]) }}</td>
            {% for stat in dex.pokemon[poke[0]].base_stats %}
            <td class="dt-body-right hide_mobile">{{dex.pokemon[poke[0]].base_stats[stat]}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
