{% extends "NavBar.html" %}
{% block title %}{{ poke }} Data{% endblock %}
{% block below_navbar %}
  <img class="poke-sprite" data-poke="{{ poke }}"></img><br>
  {{ poke }}<br>
  Usage: {{ usage }}<br>
  <div style="float: left; margin-right:10px">
    {% include "CountersTable.html" %}
  </div>
  <div style="float: left; margin-right:10px">
    {% include "TeammatesTable.html" %}
  </div>
  <div style="float: left; margin-right:10px">
    {% include "MovesTable.html" %}
  </div>
  <div style="float: left; margin-right:10px">
    {% include "ItemsTable.html" %}
  </div>
    {% include "AbilitiesTable.html" %}

{% endblock %}
