<table id="recommendations_table" class="data-table sortable paged">
    <thead>
        <tr>
            <th class="searchable unsortable pagedPoke">Recommendation</th>
            <th class="default_desc sort_desc">Overall</th>
            <th class="default_desc hide_mobile" title="How good a Pokémon is against threats to the team.">Counter</th>
            <th class="default_desc hide_mobile" title="How good a Pokémon is with its teammates.">Team</th>
            <th class="default_desc hide_mobile" title="How often a Pokémon is used in general.">Usage</th>
            {% if add_links %}
                    <th class="unsortable">✚</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for reco in recommendations %}
            <tr>
                <td>{{ lb.poke_link(reco[0], dataset) }}</td>
                <td class="dt-body-right">{{ "{:.2f}".format(reco[1]) }}</td>
                <td class="dt-body-right hide_mobile">{{ "{:.2f}".format(reco[2]) }}</td>
                <td class="dt-body-right hide_mobile">{{ "{:.2f}".format(reco[3]) }}</td>
                <td class="dt-body-right hide_mobile">{{ "{:.2f}".format(reco[4]) }}</td>
                {% if add_links %}
                    <td class="add_link_cell">{{ lb.add_link(reco[0]) }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
