<table id="recommendations_table" class="data-table sortable paged">
    <thead>
        <tr>
            <th class="searchable unsortable pagedPoke">Recommendation</th>
            <th class="sort_desc">Overall Score</th>
            <th>Counter Score</th>
            <th>Team Score</th>
            <th>Usage Score</th>
            {% if add_links %}
                    <th class="unsortable">&#10010</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for reco in recommendations %}
            <tr>
                <td>{{ lb.poke_link(reco[0], dataset) }}</td>
                <td class="r-align">{{ "{:.2f}".format(reco[1]) }}</td>
                <td class="r-align">{{ "{:.2f}".format(reco[2]) }}</td>
                <td class="r-align">{{ "{:.2f}".format(reco[3]) }}</td>
                <td class="r-align">{{ "{:.2f}".format(reco[4]) }}</td>
                {% if add_links %}
                    <td>{{ lb.add_link(reco[0]) }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
