{% extends "NavBar.html" %}
{% block title %}Pokémon Team Builder{% endblock %}
{% block below_navbar %}
Enter anywhere from 1-6 Pokémon for analysis and suggestions.
<form id=analyze>
<div class="input pokemon">
 	{% for selector in form.selectors %}
   {{selector}}
  {% endfor %}
</div>
<fieldset class="advanced">
  <legend>Advanced Options</legend>
  <table class="alignment-table">
    <tbody>
      <tr><td>Counter Weighting:</td>
        <td>{{ form.counter_setting(min='0', required='true') }}</td>
        <td><span class="fas fa-question-circle"><span class="tooltip">The counter score encompasses how good a given Pokemon is against Pokemon that are threatening to the team.</span></span></td>
      </tr>
      <tr><td>Team Weighting:</td>
        <td>{{ form.team_setting(min='0', required='true') }}</td>
        <td><span class="fas fa-question-circle"><span class="tooltip">The team score encompasses how much more or less often Pokemon are played together.</span></span></td>
      </tr>
      <tr><td>Usage Weighting:</td>
        <td>{{ form.usage_setting(min='0', required='true') }}</td>
        <td><span class="fas fa-question-circle"><span class="tooltip">The usage score encompasses how often a Pokemon is played in the format.</span></span></td>
      </tr>
    </tbody>
  </table>
</fieldset>
<input type="submit" value="Analyze">
<script src="{{ url_for('static', filename='TeamBuilderScript.js') }}"></script>
</form>
<div id="analysis_location"></div>
{% endblock %}
