{% extends "NavBar.html" %}
{% block title %}Pokémon Team Builder{% endblock %}
{% block below_navbar %}
<form id=analyze>
<div id="poke-wrapper">
  <div data-url={{url_for('display_pokemon', dataset=dataset, poke="~")}} id="input_pokemon"></div>
</div>
<details class="advanced-options">
  <summary>Advanced Options</summary>
  <table class="alignment-table">
    <tbody>
      <tr><td>Counter Weighting:</td>
        <td><input type="number" name="counter_weight" min=0 value={{counter_setting}} required step=".1"></td>
        <td><span class="fas fa-question-circle"><span class="tooltip">The counter score encompasses how good a given Pokémon is against Pokémon that are threatening to the team.</span></span></td>
      </tr>
      <tr><td>Team Weighting:</td>
        <td><input type="number" name="team_weight" min=0 value={{team_setting}} required step=".1"></td>
        <td><span class="fas fa-question-circle"><span class="tooltip">The team score encompasses how much more or less often Pokémon are played together.</span></span></td>
      </tr>
      <tr><td>Usage Weighting:</td>
        <td><input type="number" name="usage_weight" min=0 value={{usage_setting}} required step=".1"></td>
        <td><span class="fas fa-question-circle"><span class="tooltip">The usage score encompasses how often a Pokémon is played in the format.</span></span></td>
      </tr>
    </tbody>
  </table>
  <input type="submit" value="Analyze">
</details>
</form>
<div id="analysis_location">{{analysis|safe}}</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='TeamBuilderScript.js') }}"></script>
{% endblock %}
